<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') %> 
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <%- include('../layouts/navbar') %> 
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Blank</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../layouts/footer') %> 
    </body>
</html>